@model PaginationViewModelServico

@{
    ViewData["Title"] = "Index";
}

<h1>Serviços</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Servicos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServicoId" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ServicoId" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServicoId" class="btn btn-primary">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
